<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ayushman.raindrop">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Raindrop">
        <activity
            android:name=".RefreshTokenActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:noHistory="true"
            android:label="@string/title_activity_refresh_token"
            android:theme="@style/Theme.Raindrop"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".AuthActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_auth"
            android:noHistory="true"
            android:theme="@style/Theme.Raindrop"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:noHistory="true"
            android:theme="@style/Theme.Raindrop"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Raindrop"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>